
.navbar {
    background-color: #8b008b;
}
.footer {
    background-color: #8b008b;
}

aside#left-sidebar {
    max-height: 100vh;
    overflow-y: scroll;
}
body {
    padding-bottom: 40px;
}

